
*{
    /* background-color: rgb(215, 237, 237); */
}

.panda{
     padding-top: 40px;
    width:  500px;
}

.click{
    padding-top: 20px;

}

label{
    display: block;
    padding-bottom: 10px;
}

.cols{
   width: 1000px;
   height: 50px;
}

.make{
    text-decoration: underline;
}

table{
    border-collapse: collapse;
}
 td,th{
    border: 2px solid black;
    padding: 5px 10px;
    text-align:  center;
 }
